<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
    <title>welcome to {{ animevote }}</title>
    {% else %}
    <title>welcome to animevote</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="https://getbootstrap.com/docs/3.3/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
</head>

<body>
<div class="header">
 <div class="sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal text-white">Best Anime Voting</h5>
  <nav class=" nav nav-masthead justify-content-center ">
    <a class="p-2 text-white" href="{{ url_for('index') }}">Home</a>
      <a class="p-2 text-white" href="{{ url_for('root') }}">Vote Now</a>
      <a class="p-2 text-white" href="{{ url_for('results') }}">Results</a>
  </nav>
      {% if current_user.is_anonymous %}
     <a class="btn btn-outline-danger text-danger" href="{{ url_for('login') }}">Login</a>
        {% else %}
     <a class="btn btn-outline-danger text-danger" href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
 </div>
</div>

<div class="main" role="main">
    {% block content %} {% endblock %}
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/index.js"></script>
</div>

<div class="footer">
    <div style="margin: 10px">
        <p class="text-white"><b>Current date and time: </b><span id="datetime"></span> <b>Last modified time: </b><span id="lastmodified"></span></p>
        <script>
           var dt = new Date();
           document.getElementById("datetime").innerHTML = dt.toLocaleString();
           var ld = document.lastModified;
            document.getElementById("lastmodified").innerHTML = ld.toLocaleString();
        </script>
    </div>
</div>
</body>
</html>