{% extends "base.html" %}

{% block content %}
    <div class="center text-center">
    <h1>Login</h1>
        <br>
    <form action="" method="post">
        <p class="a"><b>
            {{ form.username.label }}
            {{ form.username() }}</b>
        </p>
        <p class="a"><b>
            {{ form.password.label }}
            {{ form.password() }}</b>
        </p>
        <p class="a"><b>
            {{ form.remember_me()}}
            {{ form.remember_me.label }}</b>
        </p>
        <p class="a"><b>
            {{ form.submit() }}</b>
        </p>
        <a class="a" href="{{ url_for('register') }}"><b>New User?</b></a>
    </form>
    </div>

{% endblock %}