{% extends "base.html" %}

{% block content %}
    <div class="padding-poll">
        <h1>{{ data.question }}</h1><br>
    </div>
    <div class="padding-vote">
        <form action="/poll">
            {% for e in data.fields %}
                <p class="b"><input type="radio" name="field" value="{{ e }}"> {{ e }}</p><br>
            {% endfor %}
            <input type="submit" value="Vote" class="btn btn-dark btn-lg">
        </form>
    </div>

    <div class="padding-pic">
        <a href="https://en.wikipedia.org/wiki/One_Piece" target="_blank"><img src="../static/css/OP.svg" alt="one piece" width="200"/></a><br>
        <a href="https://en.wikipedia.org/wiki/Naruto" target="_blank"><img src="../static/css/N.svg" alt="naruto"width="200"/></a><br>
        <a href="https://en.wikipedia.org/wiki/Bleach_(manga)" target="_blank"><img src="../static/css/B.svg" alt="bleach"width="200"/></a><br>
        <a href="https://en.wikipedia.org/wiki/Fairy_Tail" target="_blank"><img src="../static/css/FT.svg" alt="fairy tail" width="200"/></a><br>
        <a href="https://en.wikipedia.org/wiki/Fullmetal_Alchemist" target="_blank"><img src="../static/css/FM.svg" alt="full metal " width="200"/></a>
    </div>

{% endblock %}