{% extends "base.html" %}

{% block content %}
   <div class="padding text-center">
    <form action="{{url_for('register')}}" method="post">
        <h1>Sign Up</h1>
        {{ form.hidden_tag() }}
    <br>

        <p class="a"><b>
            {{ form.username.label }}<br>
            {{ form.username() }}</b>
            {% for error in form.username.errors %}
            <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="a"><b>
            {{ form.email.label }}<br>
            {{ form.email() }}</b>
            {% for error in form.email.errors %}
            <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="a"><b>
            {{ form.password.label }}<br>
            {{ form.password() }}</b>
            {% for error in form.password.errors %}
            <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="a"><b>
            {{ form.password2.label }}<br>
            {{ form.password2() }}</b>
            {% for error in form.password2.errors %}
            <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p class="a">
            {{ form.submit(class="btn btn-dark btn-lg") }}
        </p>
    </form>
   </div>
{% endblock %}
